<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="js/axios-0.18.0.js"></script>
    <script src="js/vue.js"></script>
    <script src="element-ui/lib/index.js"></script>
    <link rel="stylesheet" href="element-ui/lib/theme-chalk/index.css">
    <script src="./js/xlsx.full.min.js"></script>
    <script src="./js/FileSaver.min.js"></script>

</head>
<body><style>
    .type-buttons {
        margin: 20px 0;
    }

    .order-card {
        margin-top: 15px;
        transition: all 0.3s;
    }
</style>

<style scoped>
    .info-item {
        margin: 8px 28px;
        line-height: 15px;
    }

    .info-label {
        color: #909399;
        margin-right: 10px;
    }

    .info-content {
        color: #606266;
    }

    .image {
        width: 100%;
        height: 270px;
        object-fit: cover;
        display: block;
    }
    .el-menu{
        border-right: none !important;
    }
    .button {
        width: 100%;
        margin-top: 5px;
    }
</style>


<div id="app">

    <el-container>
        <el-aside width="200px" style="background-color: #545c64; height: 100vh">
            <el-menu
                    :default-active="activeIndex1"
                    @select="handleMenuItemClick"
                    background-color="#545c64"
                    text-color="#fff"
                    active-text-color="#ffd04b">
                <el-menu-item-group title="主菜单">
                    <el-menu-item index="1">
                        <i class="el-icon-user"></i>
                        <span>个人信息</span>
                    </el-menu-item>
                    <el-menu-item index="2">
                        <i class="el-icon-menu"></i>
                        <span>功能面板</span>
                    </el-menu-item>
                    <el-menu-item index="3">
                        <i class="el-icon-phone"></i>
                        <span>联系我们</span>
                    </el-menu-item>
                    <el-menu-item index="4">
                        <i class="el-icon-switch-button"></i>
                        <span>退出登录</span>
                    </el-menu-item>
                </el-menu-item-group>
            </el-menu>
        </el-aside>

        <el-container>
            <div v-if="activeIndex1==2" style="width:1500px;position:relative;">
                <el-header>

                    <el-menu
                            :default-active="activeIndex2"
                            class="el-menu-demo"
                            mode="horizontal"
                            @select="handleSelect"
                            background-color="#545c64"
                            text-color="#fff"
                            active-text-color="#ffd04b"

                    >

                        <el-menu-item index="1">首页</el-menu-item>
                        <el-menu-item index="2">报修</el-menu-item>
                        <el-menu-item index="3">维修</el-menu-item>
                        <el-menu-item index="4">保养</el-menu-item>
                        <el-menu-item index="5">巡检</el-menu-item>
                        <el-menu-item index="6">检测</el-menu-item>
                        <el-menu-item index="7">备件</el-menu-item>
                    </el-menu>

                </el-header>
                <el-main>



                    <!--按钮-->

                    <el-row>

                        <!--         <el-button type="danger" @click="multiDelete()" plain>批量删除</el-button>-->
                        <el-button type="primary" plain @click="mutliSelect">批量接受</el-button>

                        <el-button type="success" plain @click="exportXSL">批量导出</el-button>
                    </el-row>

                    <el-dialog
                            title="维修工单详情"
                            :visible.sync="dialogVisible2"
                            width="40%"
                            @close="dialogVisible2 = false">
                        <el-form ref="viewForm" :model="Data" label-width="120px">
                            <!-- 基础信息 -->

                            <el-form-item label="工单ID">
                                <el-input :value="Data.id" :readonly="true" class="readonly-item"></el-input>
                            </el-form-item>

                            <el-form-item label="创建日期">
                                <el-input :value="Data.data"
                                          :readonly="true"
                                          placeholder="无日期信息"></el-input>
                            </el-form-item>

                            <!-- 设备信息 -->
                            <el-form-item label="所属车站">
                                <el-input :value="Data.stop"
                                          :readonly="true"></el-input>
                            </el-form-item>

                            <!-- 故障信息 -->
                            <el-form-item label="故障类型">
                                <el-input :value="getFaultTypeText(Data.faultyType)"
                                          :readonly="true"></el-input>
                            </el-form-item>

                            <el-form-item label="紧急程度">
                                <el-input :value="getGradeText(Data.faultyGrade)"
                                          :readonly="true"></el-input>
                            </el-form-item>

                            <el-form-item label="故障描述">
                                <el-input type="textarea"
                                          :rows="2"
                                          :value="Data.faultyDescription || '无描述信息'"
                                          :readonly="true"></el-input>
                            </el-form-item>


<!--                            &lt;!&ndash; 图片信息 &ndash;&gt;-->
<!--                            <el-form-item label="历史照片">-->
<!--                                <el-tag type="info">{{ Data.olderPicture || '无历史照片' }}</el-tag>-->
<!--                            </el-form-item>-->

<!--                            <el-form-item label="维修照片">-->
<!--                                <el-tag type="info">{{ Data.newPicture || '无最新照片' }}</el-tag>-->
<!--                            </el-form-item>-->

                            <el-upload

                                    ref="upload"
                                    action="#"
                                    file-list="fileList"
                                    list-type="picture-card"
                                    :auto-upload="false">
                                <i slot="default" class="el-icon-plus"></i>
                                <div slot="file" slot-scope="{file}">
                                    <img
                                            class="el-upload-list__item-thumbnail"
                                            :src="file.url" alt=""
                                    >
                                    <span class="el-upload-list__item-actions">
                    <span
                            class="el-upload-list__item-preview"
                            @click="handlePictureCardPreview(file)"
                    >
                      <i class="el-icon-zoom-in"></i>
                    </span>
                    <span
                            v-if="!disabled"
                            class="el-upload-list__item-delete"
                            @click="handleDownload(file)"
                    >
                      <i class="el-icon-download"></i>
                    </span>
                    <span
                            v-if="!disabled"
                            class="el-upload-list__item-delete"
                            @click="handleRemove(file)"
                    >
                      <i class="el-icon-delete"></i>
                    </span>
                  </span>
                                </div>
                            </el-upload>


                            <div class="dialog-footer">
                                <el-button @click="OrderSubmit">提交</el-button>
                                <el-button @click="dialogVisible2 = false">关 闭</el-button>
                            </div>

                        </el-form>
                    </el-dialog>


                    <template>
                        <!-- 待接取表格 -->
                        <h3>待接取</h3>
                        <el-table
                                :data="currentPendingOrders"
                                @selection-change="handlePendingSelectionChange"
                                style="width: 100%; margin-bottom: 20px"
                                :row-class-name="tableRowClassName">
                            <el-table-column type="selection" width="55"></el-table-column>
                            <el-table-column prop="id" label="维修单号" align="center"></el-table-column>
                            <el-table-column label="工程师ID" align="center">
                                <template slot-scope="scope">
                                    {{ scope.row.engineerId || '未分配' }}
                                </template>
                            </el-table-column>
                            <el-table-column prop="" label="状态" align="center">


                                    <template #default="scope">
                                        <el-tag :type="statusStyle[scope.row.type]" size="medium">
                                            {{ statusText[scope.row.type] }}
                                        </el-tag>
                                    </template>


                            </el-table-column>
                            <el-table-column prop="data" label="创建时间" align="center"></el-table-column>
                            <el-table-column fixed="right" label="操作" width="150">
                                <template slot-scope="scope">
                                    <el-button
                                            type="primary"
                                            size="small"
                                            @click="handleAccept(scope.row)">
                                        接受
                                    </el-button>

                                </template>
                            </el-table-column>
                        </el-table>

                        <el-pagination
                                background
                                :page-size="pageSize1"
                                :current-page="currentPage1"
                                layout="prev, pager, next"
                                :total="pendingOrders.length"
                                @current-change="currentPage1 = $event">
                        </el-pagination>

                        <!-- 已接取表格 -->
                        <h3>已接取</h3>
                        <el-table
                                :data="currentAcceptedOrders"
                                @selection-change="handleAcceptedSelectionChange"
                                style="width: 100%"
                                :row-class-name="tableRowClassName">
                            <el-table-column type="selection" width="55"></el-table-column>

                            <el-table-column prop="id" label="维修单号" align="center"></el-table-column>
                            <el-table-column label="工程师ID" align="center">
                            <template slot-scope="scope">
                                {{ scope.row.engineerId || '系统分配' }}
                            </template>
                            </el-table-column>
                            <el-table-column prop="type" label="状态" align="center">



                                <template #default="scope">
                                    <el-tag :type="statusStyle[scope.row.type]" size="medium">
                                        {{ statusText[scope.row.type] }}
                                    </el-tag>
                                </template>



                            </el-table-column>
                            <el-table-column prop="data" label="接单时间" align="center"></el-table-column>
                            <el-table-column fixed="right" label="操作" width="120">
                                <template slot-scope="scope">
                                    <el-button
                                            type="primary"
                                            size="small"
                                            @click="dialog1Init(scope.row)">
                                        处理
                                    </el-button>

                                </template>
                            </el-table-column>
                        </el-table>

                    </template>



                    <el-pagination
                            background
                            :page-size="pageSize2"
                            :current-page="currentPage2"
                            layout="prev, pager, next"
                            :total="acceptedOrders.length"
                            @current-change="currentPage2 = $event">
                    </el-pagination>

                </el-main>

            </div>
        </el-container>
    </el-container>





</div>


</body>
<script type="module">

    import storage from "./js/storage.js";

    new Vue({
            el:"#app",
        computed: {
            selectedOrders() {
                return [...this.pendingSelected, ...this.acceptedSelected];
            },
            statusText() {
                return { 0: '待处理', 1: '进行中', 2: '已完成', 3: '已关闭' };
            },
            statusStyle() {
                return { 0: 'warning', 1: 'primary', 2: 'success', 3: 'info' };
            },
            currentPendingOrders() {
                const start = (this.currentPage1 - 1) * this.pageSize1;
                return this.pendingOrders.slice(start, start + this.pageSize1);
            },
            // 已接取分页数据
            currentAcceptedOrders() {
                const start = (this.currentPage2 - 1) * this.pageSize2;
                return this.acceptedOrders.slice(start, start + this.pageSize2);
            },
            // 待接取订单（工程师ID为空）
            pendingOrders() {
                return this.tableData  .sort((a, b) => a.type.localeCompare(b.type))
            .filter(item => !item.engineerId);
                  // 按字典序排序
            },
            // 已接取订单（工程师ID已存在）
            acceptedOrders() {
                return this.tableData.filter(item => item.engineerId==storage.get('user').username);
            }
        },
            data() {
                return {
                    currentPage1: 1,  // 待接取表格当前页
                    currentPage2: 1,  // 已接取表格当前页
                    pageSize1: 3,     // 待接取每页显示数
                    pageSize2: 4,
                    engineerName:'',
                    dialogVisible2:false,
                    orders:[],
                    acceptedSelected:[],
                    pendingSelected: [],
           //         selctedOrders: [],
                Data:{
                        data:"2025-04-21",engineerId:"70000001",
                      faultyDescription:"无",faultyEquipmentId:"15454",
                    faultyGrade:"urgent",faultyType:"mechanical",id:'20000000',
                    newPicture:"无",olderPicture:"无",stop:"铁路站",type:"0"},
                    repairOrderList:[],
                    IdRepairOrderList:[],
                    ERepairOrderList:[],
                    activeIndex1: '2',
                    activeIndex2: '3',
                    dialog1Visible:false,
                    repairOrder:{},
                    dialogImageUrl: '',
                    stationList:[],
                    disabled: false,
                    tableData:[]
                };
            },
            mounted() {






                axios.post("http://localhost:7469/MaintenanceManage/stop/selectAll").then((res) => {

                    this.stationList = res.data;

                })

                axios.post("http://localhost:7469/MaintenanceManage/maintenanceOrder/selectAll").then((res) => {

                    this.tableData= res.data;

                })
            }
            ,
            methods: {
                exportXSL(){

                    // if (!Array.isArray(this.selectedOrders) || this.selectedOrders.length === 0) {
                    //     alert('repairOrder 数组为空，无法导出');
                    //     return;
                    // }

                    axios.post("http://localhost:7469/MaintenanceManage/maintenanceOrder/MselectAll",this.selectedOrders).then((res) => {
                           this.orders = [];
                          for(let i=0;i<res.data.length;i++){

                              this.orders.push(res.data[i]);
                          }
                        this.orders = res.data;

                        // 定义导出字段顺序和列标题
                        const headerOrder = [
                            'id', 'stop', 'faultyEquipmentId', 'faultyType',
                            'faultyDescription', 'faultyGrade', 'olderPicture','newPicture', 'type', 'data','engineerId'
                        ];

                        // 可选：自定义列标题映射（字段名 -> 表头）
                        const headerNames = {
                            id: '工单号',
                            stop: '车站',
                            faultyEquipmentId: '损坏设备号',
                            faultyType: '损坏类型',
                            faultyDescription: '损坏描述',
                            faultyGrade: '损坏等级',
                            olderPicture:'维修前图片',
                            newPicture:'维修后图片',
                            engineerId:'工程师工号',
                            type: '状态',
                            data: '日期'
                        };

                        // 组织数据，保证列顺序并使用中文表头
                        const dataForExport = [headerOrder.map(key => headerNames[key])];
                        this.orders.forEach(item => {
                            dataForExport.push(headerOrder.map(key => item[key] ?? ''));
                        });

                        // 生成 worksheet
                        const ws = XLSX.utils.aoa_to_sheet(dataForExport);
                        const wb = XLSX.utils.book_new();
                        XLSX.utils.book_append_sheet(wb, ws, '工单列表');

                        // 导出文件
                        const wbout = XLSX.write(wb, { bookType: 'xlsx', type: 'array' });
                        saveAs(new Blob([wbout], { type: 'application/octet-stream' }), 'tableDataList.xlsx');
                    })



    },


                handlePendingSelectionChange(rows) {
                    this.pendingSelected = rows;
                },
                handleAcceptedSelectionChange(rows) {
                    this.acceptedSelected = rows;
                },

                // 修改后的批量接受方法
                mutliSelect() {
                    if (this.selectedOrders.length === 0) {
                        this.$message.warning('请选择要接受的工单');
                        return;
                    }

                    this.$confirm('确定要接受选中的工单吗？', '提示', {
                        confirmButtonText: '确定',
                        cancelButtonText: '取消',
                        type: 'warning'
                    }).then(() => {
                        const requests = this.selectedOrders
                            .filter(order => !order.engineerId)
                            .map(order => {
                                const newOrder = {...order};
                                newOrder.engineerId = storage.get('user').username;
                                return axios.post(
                                    "http://localhost:7469/MaintenanceManage/maintenanceOrder/accept",
                                    newOrder
                                );
                            });

                        Promise.all(requests)
                            .then(() => {
                                this.$message.success('接受成功');
                                // 更新本地数据
                                this.tableData = this.tableData.map(item => {
                                    const target = this.selectedOrders.find(o => o.id === item.id);
                                    return target ? {...item, engineerId: target.engineerId} : item;
                                });
                            })
                            .catch(error => {
                                this.$message.error('部分操作失败');
                                console.error(error);
                            });
                    }).catch(() => {});


                },
                dialog1Init(row) {


                    axios.post("http://localhost:7469/MaintenanceManage/maintenanceOrder/selectById",row.id).then((res) => {

                        this.Data= res.data;
                    })
                    this.dialogVisible2=true;

                },

                handleAccept(order) {

                    this.$confirm('确认要接受该维修单吗？', '提示', {
                        confirmButtonText: '确定',
                        cancelButtonText: '取消',
                        type: 'warning'
                    }).then(() => {
                        // 调用API更新工程师ID


                        this.$set(order, 'engineerId', '当前工程师ID')
                        order.engineerId =storage.get('user').username;
                        axios.post("http://localhost:7469/MaintenanceManage/maintenanceOrder/accept", order).then((res) => {


                        })

                        this.$message.success('接单成功');



                    })


                },
                // 拒绝工单
                handleReject(order) {
                    this.$confirm('确认要拒绝该维修单吗？', '提示', {
                        confirmButtonText: '确定',
                        cancelButtonText: '取消',
                        type: 'warning'
                    }).then(() => {
                        // 执行拒绝逻辑
                        this.tableData = this.tableData.filter(item => item.id !== order.id)
                        this.$message.success('已拒绝工单');
                    })
                }
            ,
                handleSelect(key, keyPath) {

                    window.location.href = "http://localhost:7469/MaintenanceManage/0"+(key-1)+".html";

                },
                handleMenuItemClick(index) {
                    console.log('点击菜单:', index)
                    this.activeIndex1=index;
                    if(index==1){
                        window.location.href = "http://localhost:7469/MaintenanceManage/000.html";
                    }
                    else if(index==2){

                        window.location.href = "http://localhost:7469/MaintenanceManage/01.html";
                    }
                    else if(index==3){

                        window.location.href = "http://localhost:7469/MaintenanceManage/002.html";
                    }
                    else if(index==4){
                        window.location.href = "http://localhost:7469/MaintenanceManage/logIn.html";


                    }},
                fileList: [],
                handleRemove(file) {
                    // 从上传文件列表中移除
                    const fileList = this.$refs.upload.uploadFiles;
                    this.$refs.upload.uploadFiles = fileList.filter(item => item.uid !== file.uid);
                },
                handlePictureCardPreview(file) {
                    this.dialogImageUrl = file.url;
                    this.dialogVisible = true;
                },
                handleDownload(file) {
                    console.log(file);
                },

                submitRepairOrder(){

                    axios.post("http://localhost:7469/MaintenanceManage/repairOrder/insert",this.repairOrder).then((res) => {



                    })
                    this.dialogVisible=false;
                }
                ,

                OrderSubmit(){

                    axios.post("http://localhost:7469/MaintenanceManage/maintenanceOrder/handle",this.Data).then((res) => {

                        if(res.data=="success"){
                            alert("处理完成");
                        }
                    })

                    window.location.reload();


                }
        ,

                async loadEngineerInfo(id) {
                    try {
                        const response = await axios.get(`/MaintenanceManage/engineer/${id}`)
                        this.engineerName = response.data.name
                    } catch (error) {
                        console.error('工程师信息加载失败:', error)
                        this.engineerName = '信息获取失败'
                    }
                }


        ,

                getGradeText(grade) {
                    const gradeMap = {
                        urgent: '紧急',
                        high: '高级',
                        medium: '中级',
                        low: '低级'
                    }
                    return gradeMap[grade] || '未分级'
                },
                getFaultTypeText(type) {
                    const typeMap = {
                        mechanical: '机械故障',
                        electrical: '电气故障',
                        software: '软件故障'
                    }
                    return typeMap[type] || '未知类型'
                },

              async getEngineerName(Ids){

                  try{
                      const res=await   axios.post("http://localhost:7469/MaintenanceManage/engineer/selectById",Ids);

                      this.engineerName=  res.data.name;

                  }catch(error){

                       return error;
                  }

    }




            }
        }
    )
</script>
<style scoped>
    .readonly-item >>> .el-input__inner {
        background-color: #f5f7fa;
        border-color: #e4e7ed;
        color: #909399;
        cursor: not-allowed;
    }
    .dialog-footer {
        text-align: right;
        margin-right: 20px;
    }
    .el-tag {
        margin-right: 10px;
    }
</style>
</html>